<h1>Page Sections</h1>
<p>Important parts of common page layout, such as the header, footer, and sidebars are included here.</p>

<h2>Site Header <a href="#" class="subheader">View HTML</a></h2>
<p>The header consists of a photographic background with a logo on the left and a search field on the right. The color theme is represented at the top using a thin band of color boxes. On smaller viewports, the search field will move below the logo, and the photographic background will be cropped.</p>

<h2>Site Navigation <a href="#" class="subheader">View HTML</a></h2>
<p>Navigation design is still be refined, but it should have a simplistic feel - noticeable but without getting in the way. As the page scrolls down, the navigation will attach to the top and remain fixed in place.</p>

<p>On small viewports, the menu will be replaced with a “hamburger”-style icon that is used to expand/collapse the menu items.</p>
