<dom-module id="button-row">
	<style>
		:host {
			display: block;
		}

		:host(:not([joined])) ::content icon-button:not(:last-child) {
			margin-right: 1em;
		}

		@media (min-width: 50rem) {
			:host {
				display: flex;
				align-items: center;
			}

			.button-row-message {
				flex-grow: 2;
			}

			:host ::content p {
				margin: 0;
			}
		}
	</style>

	<template>
		<div class="button-row-message"><content select="p"></content></div>

		<div class="button-row-buttons">
			<content select="icon-button"></content>
		</div>
	</template>

	<script>
		Polymer({
			is: 'button-row',
			properties: {
				joined: Boolean
			}
		});
	</script>
</dom-module>
