<dom-module id="footer-pane">
	<style>
		:host {
			--footer-pane-gutter: 1.4rem;
			--footer-pane-color-text: #fff;
			--footer-pane-color-bg: #303033;

			display: block;
			box-sizing: border-box;
			padding: var(--footer-pane-gutter);
			width: 100%;
			color: var(--footer-pane-color-text);
			background-color: var(--footer-pane-color-bg);
		}

		.footer-pane-detail a {
			text-decoration: underline;
			color: var(--footer-pane-color-text);
		}

		@media (min-width: 50rem) {
			:host(:after) {
				content: '';
				display: table;
				clear: both;
			}

			.footer-pane-status {
				float: left;
				margin-right: 1em;
			}

			.footer-pane-detail {
				float: right;
			}

			.footer-pane-status p,
			.footer-pane-detail p {
				margin: 0;
			}
		}
	</style>

	<template>
		<section>
			<div class="footer-pane-status"></div>

			<div class="footer-pane-detail">
				<a class="footer-pane-version" href="https://github.com/thomashigginbotham/task-tracker">Task Tracker <span>[[version]]</span></a>.
				<a class="footer-pane-license" href="https://opensource.org/licenses/MIT">MIT License</a>.
			</div>
		</section>
	</template>

	<script>
		Polymer({
			is: 'footer-pane',
			properties: {
				status: {
					type: String,
					value: 'offline',
					reflectToAttribute: true
				},
				version: String
			},
			attached: function() {
				this.setStatus(this.status.toLowerCase());
			},
			setStatus: function(status) {
				var statusDiv = this.shadowRoot.querySelector('.footer-pane-status');
				var offlineMessage = '<p><span class="fa fa-warning"></span> Offline. Server unavailable.</p>';
				var onlineMessage = '<p><span class="fa fa-check-circle"></span> Online. Connected to server.</p>'

				statusDiv.innerHTML = (status === 'online') ? onlineMessage : offlineMessage;
			}
		});
	</script>
</dom-module>
