<dom-module id="group-block">
	<style>
		:host {
			--group-block-gutter: 1.4rem;
			--group-block-heading-font: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
			--group-block-heading-color: #303033;

			display: block;
		}

		:host(:not(:last-child)) {
			margin-bottom: var(--group-block-gutter);
		}

		h2 {
			margin-bottom: 0;
			text-transform: uppercase;
			font-size: .5rem;
			font-family: var(--group-block-heading-font);
			color: var(--group-block-heading-color);
		}
	</style>

	<template>
		<h2 hidden$="{{!heading}}">{{heading}}</h2>

		<content></content>
	</template>

	<script>
		Polymer({
			is: 'group-block',
			properties: {
				heading: {
					type: String,
					value: ''
				}
			}
		});
	</script>
</dom-module>
