<dom-module id="icon-item">
	<style>
		:host {
			display: block;
			position: relative;
		}

		:host > div {
			position: relative;
			left: 1.25em;
		}

		:host [class^='fa'] {
			position: absolute;
			top: 0;
			left: -1.25em;
			line-height: 1.5;
		}
	</style>

	<template>
		<div>
			<span class$="{{getIconClass(icon)}}"></span>
			<content></content>
		</div>
	</template>

	<script>
		Polymer({
			is: 'icon-item',
			properties: {
				icon: {
					type: String,
					value: '',
					reflectToAttribute: true
				}
			},
			getIconClass: function(iconName) {
				if (iconName === '') {
					return '';
				}

				return 'fa fa-' + iconName;
			}
		});
	</script>
</dom-module>
