<dom-module id="notice-block">
	<style>
		:host {
			--notice-block-gutter: 1.4rem;
			--notice-block-color-bg: #d3e4f9;

			display: block;
			position: relative;
			top: -var(--notice-block-gutter);
			left: -var(--notice-block-gutter);
			padding: var(--notice-block-gutter);
			width: 100%;
			background-color: var(--notice-block-color-bg);
		}
	</style>

	<template>
		<h2 hidden$="{{!heading}}">{{heading}}</h2>

		<div class="notice-block-content">
			<content></content>
		</div>
	</template>

	<script>
		Polymer({
			is: 'notice-block',
			properties: {
				heading: {
					type: String,
					value: '',
				}
			}
		});
	</script>
</dom-module>
