<dom-module id="paper-block">
	<style>
		:host {
			--paper-block-gutter: 1.4rem;
			--paper-block-color-good: #f9ffed;
			--paper-block-color-important: #f7f7f9;

			display: block;
		}

		:host .paper-block-content {
			padding: 1rem;
			box-shadow: 0 .1rem .35rem rgba(0, 0, 0, .25);
		}

		.paper-block-content {
			padding: var(--paper-block-gutter);
		}

		.paper-block-content ::content > * {
			margin-bottom: 0;
		}

		:host(.status-good) .paper-block-content {
			background-color: var(--paper-block-color-good);
		}

		:host(.status-important) .paper-block-content {
			background-color: var(--paper-block-color-important);
		}
	</style>

	<template>
		<h2 hidden$="{{!heading}}">{{heading}}</h2>

		<div class="paper-block-content">
			<content></content>
		</div>
	</template>

	<script>
		Polymer({
			is: 'paper-block',
			properties: {
				heading: {
					type: String,
					value: '',
					reflectToAttribute: true
				}
			}
		});
	</script>
</dom-module>
