<dom-module id="task-tracker-app">
	<style>
		:host {
			display: block;
		}

		::content group-pane {
			box-sizing: border-box;
		}

		@media (min-width: 50rem) {
			:host > div {
				display: flex;
				flex-wrap: wrap;
			}

			:host ::content .menu-pane {
				flex: 1 1 25%;
			}

			:host ::content .detail-pane {
				flex: 1 1 75%;
			}

			:host ::content .properties-pane {
				flex: 1 1 100%;
				order: 1;
			}
		}

		@media (min-width: 68rem) {
			:host > div {
				flex-wrap: nowrap;
				min-height: 100%;
			}

			:host ::content .menu-pane,
			:host ::content .properties-pane {
				flex-grow: 0;
				flex-basis: 17em;
			}

			:host ::content .detail-pane {
				flex-basis: 34em;
				order: 1;
			}

			:host ::content .properties-pane {
				order: 0;
			}
		}
	</style>

	<template>
		<div>
			<content select="group-pane"></content>
		</div>

		<footer>
			<content select="footer-pane"></content>
		</footer>
	</template>

	<script>
		Polymer({
			is: 'task-tracker-app'
		});
	</script>
</dom-module>
