<dom-module id="toggle-fields">
	<style>
		:host {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		:host ::content li {
			display: inline-block;
			margin-right: 1em;
			white-space: nowrap;
		}

		:host ::content li:last-child {
			margin-right: 0;
		}

		:host ::content [type=checkbox],
		:host ::content [type=radio] {
			margin-right: .25em;
			vertical-align: middle;
		}
	</style>

	<template>
		<content></content>
	</template>

	<script>
		Polymer({
			is: 'toggle-fields',
			extends: 'ul'
		});
	</script>
</dom-module>
