<link rel="import" href="tracker-menu-item.html">

<dom-module id="tracker-menu-block">
	<template>
		<style include="tracker-base-styles">
			:host {
				display: block;
			}

			:host([layout=vertical]) ::content tracker-menu-item {
				display: block;
			}

			:host([layout=horizontal]) ::content tracker-menu-item:not(:last-child) {
				margin-right: .75em;
			}
		</style>

		<tracker-group-block heading="{{heading}}">
			<span class="tracker-menu-block-items" role="list">
				<content id="content"><content>
			</span>
		</tracker-group-block>
	</template>

	<script>
		Polymer({
			is: 'tracker-menu-block',
			hostAttributes: {
				role: 'menu'
			},
			properties: {
				heading: {
					type: String,
					value: ''
				},
				fontColor: {
					type: String,
					notify: true,
					observer: '_fontColorChanged'
				},
				layout: {
					type: String,
					value: 'vertical',
					reflectToAttribute: true
				}
			},
			_fontColorChanged: function() {
				this._setMenuItemColor();
			},
			_setMenuItemColor: function() {
				var children = this.$.content.getDistributedNodes();

				if (children && children[0].nodeName !== 'CONTENT') {
					for (var i = 0, len = children.length; i < len; i++) {
						var child = children[i];

						if (child.nodeName === 'TRACKER-MENU-ITEM') {
							child.setAttribute('font-color', this.fontColor);
						}
					}
				} else if (children) {
					var that = this;

					setTimeout(function() {
						that._setMenuItemColor();
					}, 100);
				}
			}
		});
	</script>
</dom-module>
