<dom-module id="tracker-paper-block">
	<template>
		<style include="tracker-base-styles">
			:host {
				display: block;
			}

			.tracker-paper-block-content {
				padding: var(--gutter);
				border: 1px solid var(--color-ui);
				box-shadow: 0 0 .5rem rgba(0, 0, 0, .15), 0 .5em 1em rgba(0, 0, 0, .2);
			}

			.tracker-paper-block-content::after {
				content: '';
				display: table;
				line-height: 0;
				clear: both;
			}

			.tracker-paper-block-content ::content > :last-child {
				margin-bottom: 0;
			}

			:host([important]) .tracker-paper-block-content {
				background-color: var(--color-ui-light);
			}
		</style>

		<h2 hidden$="{{!heading}}">{{heading}}</h2>

		<div class="tracker-paper-block-content">
			<content></content>
		</div>
	</template>

	<script>
		Polymer({
			is: 'tracker-paper-block',
			properties: {
				heading: String,
				important: Boolean
			}
		});
	</script>
</dom-module>
