<link rel="import" href="tracker-font-icon-styles.html">

<dom-module id="tracker-menu-item">
	<template>
		<style include="tracker-font-icon-styles"></style>

		<style include="tracker-base-styles">
			:host {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			a:hover,
			a:focus {
				text-decoration: none;
			}

			a:hover span,
			a:focus span {
				text-decoration: underline;
			}

			:host-context(.dark-theme) a {
				color: var(--color-ui);
			}

			:host([active]):host-context(.dark-theme) a {
				color: var(--color-light);
			}

			:host-context(.dark-theme) a:hover {
				color: var(--color-light);
			}

			:host-context(.dark-theme) a:hover span,
			:host-context(.dark-theme) a:focus span {
				text-decoration: none;
			}

			:host-context(tracker-group-pane-menu) a {
				padding: .15em .5em;
			}

			:host([active]):host-context(tracker-group-pane-menu) a,
			:host-context(tracker-group-pane-menu) a:hover {
				background-color: var(--color-ui-light-shade);
			}

			:host-context(tracker-group-pane-menu) a:hover span,
			:host-context(tracker-group-pane-menu) a:focus span {
				text-decoration: none;
			}
		</style>

		<a href="{{uri}}" class$="{{iconClass}}" style$="{{styleString}}">
			<span><content></content></span>
		</a>
	</template>

	<script>
		Polymer({
			is: 'tracker-menu-item',
			hostAttributes: {
				role: 'listitem'
			},
			properties: {
				uri: {
					type: String,
					value: '#',
				},
				active: {
					type: Boolean,
					value: false,
					reflectToAttribute: true
				},
				fontColor: String,
				icon: String,
				isDrawerToggle: Boolean,
				iconClass: {
					type: String,
					computed: 'computeIconClass(icon)'
				},
				styleString: {
					type: String,
					computed: 'computeInlineStyle(fontColor)'
				}
			},
			listeners: {
				'click': 'handleClick'
			},
			computeIconClass: function(iconName) {
				if (iconName !== '') {
					return 'icon-' + iconName;
				}

				return '';
			},
			computeInlineStyle: function(fontColor) {
				if (fontColor) {
					return 'color: ' + fontColor + ';';
				}
			},
			handleClick: function(e) {
				if (this.isDrawerToggle) {
					this.active = this.toggleDrawer();
					e.preventDefault();
				}
			},
			toggleDrawer: function() {
				var drawer = document.querySelector('tracker-drawer');

				drawer.visible = !drawer.visible;

				return drawer.visible;
			}
		});
	</script>
</dom-module>
