<link rel="import" href="tracker-font-icon-styles.html">

<dom-module id="tracker-menu-item">
	<template>
		<style include="tracker-font-icon-styles"></style>

		<style include="tracker-base-styles">
			:host {
				position: relative;
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			:host([icon]) {
				padding-left: 1.25em;
			}

			:host([active]) a {
				font-weight: bold;
			}

			a::before {
				position: absolute;
				left: 0;
				font-family: FontAwesome;
			}

			:host-context(.dark-theme) a {
				color: var(--color-ui-light-shade);
			}

			:host-context(.dark-theme) a:hover {
				text-decoration: none;
				color: var(--color-light);
			}
		</style>

		<a href="{{uri}}" class$="{{iconClass}}" style$="{{styleString}}">
			<content></content>
		</a>
	</template>

	<script>
		Polymer({
			is: 'tracker-menu-item',
			hostAttributes: {
				role: 'listitem'
			},
			properties: {
				uri: {
					type: String,
					value: '#',
				},
				active: {
					type: Boolean,
					value: false,
				},
				fontColor: String,
				icon: String,
				iconClass: {
					type: String,
					computed: 'computeIconClass(icon)'
				},
				styleString: {
					type: String,
					computed: 'computeInlineStyle(fontColor)'
				}
			},
			computeIconClass: function(iconName) {
				if (iconName !== '') {
					return 'icon-' + iconName;
				}

				return '';
			},
			computeInlineStyle: function(fontColor) {
				if (fontColor) {
					return 'color: ' + fontColor + ';';
				}
			}
		});
	</script>
</dom-module>
