<dom-module id="tracker-drawer">
	<template>
		<style include="tracker-base-styles">
			:host {
				display: none;
				position: relative;
				top: -var(--gutter);
				left: -var(--gutter);
				padding: var(--gutter);
				width: 100%;
				background-color: var(--color-ui);
				transition: top .35s ease-in-out, margin .35s ease-in-out;
			}

			::content > :last-child {
				margin-bottom: 0;
			}

			::content > :last-child::after {
				content: '';
				display: block;
				margin: -var(--gutter) 0 var(--gutter);
			}
		</style>

		<h2 hidden$="{{!heading}}">{{heading}}</h2>

		<div class="tracker-drawer-content">
			<content></content>
		</div>
	</template>

	<script>
		Polymer({
			is: 'tracker-drawer',
			properties: {
				heading: String,
				visible: {
					type: Boolean,
					value: false,
					observer: 'visibleChanged'
				},
				topOffset: Number
			},
			attached: function() {
				var that = this;

				this.style.transition = 'none';
				this.style.display = 'block';
				this.topOffset = getComputedStyle(this).top;

				if (!this.visible) {
					this.hideBlock();
				}

				setTimeout(function() {
					that.style.transition = '';
				}, 0);
			},
			showBlock: function() {
				this.style.marginBottom = 0;
				this.style.top = this.topOffset;
			},
			hideBlock: function() {
				var blockHeight = this.offsetHeight;

				this.style.marginBottom = -blockHeight + 'px';
				this.style.top = 'calc(' + -blockHeight + 'px + ' + this.topOffset + ')';
			},
			visibleChanged: function() {
				if (this.visible) {
					this.showBlock();
				} else {
					this.hideBlock();
				}
			}
		});
	</script>
</dom-module>
