<dom-module id="tracker-base-styles">
	<template>
		<style>
			/* Variables */
			:host {
				--gutter: 1.4rem;

				--heading-font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
				--font-size: 13px;
				--pane-heading-font-size: 1.5rem;
				--font-regular: 400;
				--font-bold: 700;
				--line-height: 1.6;

				--color-primary: #6390c7;
				--color-primary-dark: #4176b6;
				--color-text: #111;
				--color-light: #fff;
				--color-dark: #000;
				--color-ui: #ccc;
				--color-ui-light: #eee;
				--color-ui-light-shade: rgba(255, 255, 255, .25);
				--color-ui-dark: #333;
				--color-caution: #ecb100;
				--color-caution-dark: #c90;
			}

			/*
			 * No top margins on most block elements makes for easier
			 * vertical alignment with other elements.
			 */
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin: 0 0 calc(var(--gutter) / 2);
			}

			::content h1,
			::content h2,
			::content h3,
			::content h4,
			::content h5,
			::content h6 {
				margin: 0 0 calc(var(--gutter) / 2);
			}

			p,
			ul,
			ol,
			dl,
			table {
				margin: 0 0 var(--gutter);
			}

			::content p,
			::content ul,
			::content ol,
			::content dl,
			::content table {
				margin: 0 0 var(--gutter);
			}

			/* Hyperlinks */
			a,
			::content a {
				text-decoration: none;
				color: var(--color-primary);
			}

			a:hover,
			a:focus,
			::content a:hover,
			::content a:focus {
				text-decoration: underline;
			}

			/* Image resets */
			img,
			::content img {
				max-width: 100%;
				border-width: 0;
			}

			/* Decorative Elements */
			hr,
			::content hr {
				margin: var(--gutter);
				height: 1px;
				border: 0;
				background-color: var(color-text);
			}


			/* Monospace font reset */
			pre,
			code,
			kbd,
			samp,
			tt {
				font-family: monospace;
				font-size: .9em;
			}

			::content pre,
			::content code,
			::content kbd,
			::content samp,
			::content tt {
				font-family: monospace;
				font-size: .9em;
			}

			/* Code formatting */
			code,
			::content code {
				background-color: var(--color-ui-light);
			}

			pre code,
			::content pre code {
				background-color: transparent;
			}

			/* Forms */
			::content label {
				vertical-align: middle;
				cursor: pointer;
			}

			::content [type=text],
			::content [type=password],
			::content [type=search],
			::content [type=email],
			::content [type=tel],
			::content [type=number],
			::content [type=date],
			::content select,
			::content textarea {
				font-family: inherit;
				font-size: inherit;
			}

			::content [type=text],
			::content [type=password],
			::content [type=search],
			::content [type=email],
			::content [type=tel],
			::content [type=number],
			::content [type=date],
			::content select {
				padding: 0 .5em;
				height: 2.6em;
				border: 1px solid var(--color-ui);
				line-height: 2.6em;
			}

			::content textarea {
				padding: .5em;
				border: 1px solid var(--color-ui);
			}

			::content [type=text]:focus,
			::content [type=password]:focus,
			::content [type=search]:focus,
			::content [type=email]:focus,
			::content [type=tel]:focus,
			::content [type=number]:focus,
			::content [type=date]:focus,
			::content textarea:focus,
			::content select:focus {
				outline: 2px solid var(--color-ui-dark);
			}

			/* Dark theme */
			:host-context(.dark-theme),
			:host-context(.dark-theme) a,
			:host-context(.dark-theme) ::content a {
				color: var(--color-light);
			}
		</style>
	</template>
</dom-module>
