<link rel="import" href="tracker-group-pane.html">

<dom-module id="tracker-detail-pane">
	<template>
		<style include="tracker-base-styles">
			:host {
				display: block;
				background-color: var(--color-light);
			}
		</style>

		<tracker-group-pane heading$="{{heading}}" font-color$="{{fontColor}}" bg-color$="{{bgColor}}" icon$="{{icon}}">
			<content></content>
		</tracker-group-pane>
	</template>

	<script>
		Polymer({
			is: 'tracker-detail-pane',
			properties: {
				heading: {
					type: String,
					value: ''
				},
				fontColor: {
					type: String,
					value: ''
				},
				bgColor: {
					type: String,
					value: ''
				},
				icon: {
					type: String,
					value: ''
				}
			}
		});
	</script>
</dom-module>
