<dom-module id="tracker-group-block">
	<template>
		<style include="tracker-base-styles">
			:host {
				display: block;
			}

			h2 {
				/* Temporary fix for https://github.com/Polymer/polymer/pull/2642 */
				margin-bottom: var(--polymer-specificity-hack, .5em);
				text-transform: uppercase;
				font-size: .6rem;
				font-family: var(--heading-font-family);
			}
		</style>

		<h2 hidden$="{{!heading}}">{{heading}}</h2>
		<content></content>
	</template>

	<script>
		Polymer({
			is: 'tracker-group-block',
			properties: {
				heading: {
					type: String,
					value: ''
				}
			}
		});
	</script>
</dom-module>
