<link rel="import" href="tracker-font-icon-styles.html">

<dom-module id="tracker-menu-item">
	<template>
		<style include="tracker-font-icon-styles"></style>

		<style include="tracker-base-styles">
			:host {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			:host-context(.dark-theme) a {
				color: var(--color-ui);
			}

			:host([active]):host-context(.dark-theme) a {
				color: var(--color-light);
			}

			:host-context(.dark-theme) a:hover {
				text-decoration: none;
				color: var(--color-light);
			}

			:host-context(tracker-group-pane-menu) a {
				padding: .15em .5em;
			}

			:host([active]):host-context(tracker-group-pane-menu) a,
			:host-context(tracker-group-pane-menu) a:hover {
				background-color: var(--color-ui-light-shade);
			}

			:host-context(tracker-group-pane-menu) a:hover,
			:host-context(tracker-group-pane-menu) a:focus {
				text-decoration: none;
			}
		</style>

		<a href="{{uri}}" class$="{{iconClass}}" style$="{{styleString}}">
			<content></content>
		</a>
	</template>

	<script>
		Polymer({
			is: 'tracker-menu-item',
			hostAttributes: {
				role: 'listitem'
			},
			properties: {
				uri: {
					type: String,
					value: '#',
				},
				active: {
					type: Boolean,
					value: false,
					reflectToAttribute: true
				},
				fontColor: String,
				icon: String,
				isNoticeToggle: Boolean,
				iconClass: {
					type: String,
					computed: 'computeIconClass(icon)'
				},
				styleString: {
					type: String,
					computed: 'computeInlineStyle(fontColor)'
				}
			},
			listeners: {
				'click': 'handleClick'
			},
			computeIconClass: function(iconName) {
				if (iconName !== '') {
					return 'icon-' + iconName;
				}

				return '';
			},
			computeInlineStyle: function(fontColor) {
				if (fontColor) {
					return 'color: ' + fontColor + ';';
				}
			},
			handleClick: function(e) {
				if (this.isNoticeToggle) {
					this.active = this.toggleNoticeBlock();
					e.preventDefault();
				}
			},
			toggleNoticeBlock: function() {
				var noticeBlock = document.querySelector('tracker-notice-block');

				noticeBlock.visible = !noticeBlock.visible;

				return noticeBlock.visible;
			}
		});
	</script>
</dom-module>
