<link rel="import" href="tracker-base-styles.html">
<link rel="import" href="tracker-menu-pane.html">
<link rel="import" href="tracker-detail-pane.html">
<link rel="import" href="tracker-property-pane.html">
<link rel="import" href="tracker-footer-pane.html">
<link rel="import" href="tracker-group-block.html">
<link rel="import" href="tracker-menu-block.html">
<link rel="import" href="tracker-paper-block.html">
<link rel="import" href="tracker-notice-block.html">
<link rel="import" href="tracker-form-row.html">
<link rel="import" href="tracker-search-block.html">
<link rel="import" href="tracker-toggle-fields.html">
<link rel="import" href="tracker-button-row.html">
<link rel="import" href="tracker-icon-item.html">
<link rel="import" href="tracker-icon-button.html">
<link rel="import" href="tracker-sortable-table.html">

<dom-module id="tracker-app">
	<template>
		<style include="tracker-base-styles">
			:host {
				display: block;
				min-height: 100vh;
				background-color: var(--color-ui);
			}

			::content group-pane {
				box-sizing: border-box;
			}

			@media (min-width: 50rem) {
				.tracker-app-main {
					display: flex;
					flex-wrap: wrap;
				}

				::content tracker-menu-pane {
					flex: 0 1 15rem;
				}

				::content tracker-detail-pane {
					flex: 1 1 auto;
				}

				::content tracker-property-pane {
					flex: 1 1 100%;
				}
			}

			@media (min-width: 70rem) {
				.tracker-app-main {
					flex-wrap: nowrap;
					min-height: 100%;
				}

				::content tracker-detail-pane {
					order: 2;
				}

				::content tracker-property-pane {
					flex: 0 0 15rem;
					order: 1;
				}
			}
		</style>

		<div class="tracker-app-main">
			<content select="tracker-menu-pane"></content>
			<content select="tracker-detail-pane"></content>
			<content select="tracker-property-pane"></content>
		</div>

		<footer class="tracker-app-footer">
			<content select="tracker-footer-pane"></content>
		</footer>
	</template>

	<script>
		Polymer({
			is: 'tracker-app'
		});
	</script>
</dom-module>
