<link rel="import" href="tracker-group-pane.html">

<dom-module id="tracker-menu-pane">
	<template>
		<style include="tracker-base-styles">
			:host {
				display: block;
				color: var(--color-light);
				background-color: var(--color-ui-dark);
			}

			::content .tracker-group-pane-content {
				padding-top: 0;
			}
		</style>

		<tracker-group-pane heading$="{{heading}}" font-color$="{{fontColor}}" bg-color$="{{bgColor}}" icon$="{{icon}}" class="dark-theme">
			<content></content>
		</tracker-group-pane>
	</template>

	<script>
		Polymer({
			is: 'tracker-menu-pane',
			properties: {
				heading: {
					type: String,
					value: ''
				},
				fontColor: {
					type: String,
					value: ''
				},
				bgColor: {
					type: String,
					value: ''
				},
				icon: {
					type: String,
					value: ''
				}
			}
		});
	</script>
</dom-module>
