/* ================================
 * Variables
 * ================================ */
/* -- Dimensions -- */
$page-max-width: 960px;
$page-margin: 20px;
$col-count: 12;
$col-gutter: 1.4rem;

/* -- Break points -- */
$canvas-large: 960px;
$canvas-medium: 800px;
$canvas-small: 640px;
$canvas-tiny: 480px;

/* -- Colors -- */
$color-primary: #3f9eff;       // Dodger Blue
$color-primary-dark: #0480ff;  // Azure Radiance
$color-secondary: #ff2c1d;     // Red Orange
$color-tertiary: #b8cc18;      // La Rioja
$color-tertiary: #a0b20c;      // Pistachio

$color-text: #222;
$color-text-light: #777;
$color-bg-dark: #ccc;
$color-bg: #fff;

$color-success: #9c0;
$color-warning: #f93;
$color-error: #f00;

/* -- Font Variables -- */
/*
WARNING! Do not use @font-face or @import to include web fonts if you will be
supporting IE 8 or lower. Selectivizr has issues with web fonts when the CSS
is minified.
*/

$regular: 400;
$bold: 700;

$base-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 1.8;

$header-font-family: "Century Gothic", sans-serif;

$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;
