// Button Row components.
//
// Compatibility untested.
//
// No styleguide reference.
button-row {
	margin-bottom: $col-gutter;

	@media (min-width: $canvas-medium) {
		display: flex;
		align-items: center;

		.button-row-message {
			flex-grow: 2;

			p {
				margin: 0;
			}
		}
	}
}
