// Footer Pane components.
//
// Compatibility untested.
//
// No styleguide reference.
footer-pane {
	padding: $col-gutter;
	color: $color-bg;
	background-color: $color-text;

	a {
		text-decoration: underline;
		color: $color-bg;
	}
}
