/* ================================
 * Footer
 * ================================ */

.site-footer {
	@include rem(padding, 1em $col-gutter);
	text-align: center;
	background-color: darken($color-bg, 10%);

	// Ensure last element in the footer doesn't have bottom margin
	& > *:last-child:after {
		@include rem(margin, $col-gutter 0 #{-$col-gutter});
		content: '';
		display: block;
		height: 0;
	}
}

/* -- IE 8 -- */
.lt-ie9 {
	.site-footer > *:last-child:after {
		margin-bottom: 0;
	}
}
