// Form Styles
//
// No styleguide reference.
label {
	vertical-align: middle;
	cursor: pointer;
}

[type=text],
[type=password],
[type=search],
[type=email],
[type=tel],
[type=number],
[type=date],
select,
textarea {
	font-family: inherit;
	font-size: inherit;
}

[type=text],
[type=password],
[type=search],
[type=email],
[type=tel],
[type=number],
[type=date],
select {
	padding: 0 .5em;
	height: 2.6em;
	border: 1px solid $color-ui;
	line-height: 2.6em;
}

textarea {
	padding: .5em;
	border: 1px solid $color-ui;
}

[type=text]:focus,
[type=password]:focus,
[type=search]:focus,
[type=email]:focus,
[type=tel]:focus,
[type=number]:focus,
[type=date]:focus,
textarea:focus,
select:focus {
	outline: 2px solid $color-ui-dark;
}
