// Form Styles
//
// No styleguide reference.

// Global Styles
//
// Compatibility untested.
//
// No styleguide reference.
label {
	cursor: pointer;
}

// Basic Layout
//
// Compatibility untested.
//
// No styleguide reference.
$basic-label-width: 12em;
$basic-field-width: 20em;

.basic-form {
	.form-field {
		@include row;
		margin-bottom: $col-gutter / 2;
	}

	label {
		display: block;
		font-weight: $bold;

		@media (min-width: $canvas-medium) {
			float: left;
			margin-right: 1em;
			width: $basic-label-width;
		}
	}

	input:not([type=radio]):not([type=checkbox]),
	textarea,
	select {
		width: $basic-field-width;
	}

	input:not([type=radio]):not([type=checkbox]) {
		border-width: 0 0 1px;
		border-color: $color-text;
		background-color: transparent;
	}

	input:not([type=radio]):not([type=checkbox]):focus {
		border-color: $color-primary;
		outline: none;
	}

	textarea,
	select {
		border-color: $color-text;
	}

	textarea:focus,
	select:focus {
		border-color: $color-primary;
		outline: none;
	}

	.option-field {
		label {
			display: inline;
			float: none;
			margin: 0;
			width: auto;
		}
	}

	.error-state {
		color: $color-error;

		input:not([type=radio]):not([type=checkbox]),
		textarea,
		select {
			border-color: $color-error;
			color: $color-text;
		}

		.error-msg {
			display: block;

			@media (min-width: $canvas-medium) {
				float: left;
				width: $basic-label-width + $basic-field-width + 1em;
				text-align: right;
			}
		}
	}

	.error-msg {
		color: $color-error;

		&:before {
			content: '\f071';
			margin-right: .25em;
			font-family: 'FontAwesome';
		}
	}
}

// Buttons
//
// Compatibility untested.
//
// No styleguide reference.
button,
.button {
	@include inline-block();
	padding: .5em 1em;
	border: 0;
	text-decoration: none;
	color: $color-bg;
	background: $color-tertiary;

	&.primary {
		background: $color-primary;
	}

	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		background: lighten(desaturate($color-tertiary, 50%), 10%);
	}
}
