// Form Styles
//
// No styleguide reference.

// Variables
//
// No styleguide reference.
$form-field-height: 2.78em;

// Global Styles
//
// Compatibility untested.
//
// No styleguide reference.
label {
	cursor: pointer;
}

// Text boxes.
//
// Compatibility untested.
//
// No styleguide reference.
input[type=text],
input[type=search] {
	@include box-sizing(border-box);
	padding: 0 $form-field-height / 4;
	max-width: 100%;
	height: $form-field-height;
	border: 1px solid $color-text;

	&:focus {
		outline: 1px solid $color-text;
	}
}

textarea {
	@include box-sizing(border-box);
	padding: $form-field-height / 4;
	border: 1px solid $color-text;

	&:focus {
		outline: 1px solid $color-text;
	}
}

// Drop-downs.
//
// Compatibility untested.
//
// No styleguide reference.
select {
	@include box-sizing(border-box);
	padding: 0 $form-field-height / 4;
	height: $form-field-height;
	border: 1px solid $color-text;

	&:focus {
		outline: 1px solid $color-text;
	}
}

// Validations.
//
// Compatibility untested.
//
// No styleguide reference.
.error-state {
	color: $color-error;

	input[type=text],
	input[type=search],
	textarea,
	select {
		border-color: $color-error;
		color: $color-text;

		&:focus {
			outline: 1px solid $color-error;
		}
	}
}

.success-msg,
.warning-msg,
.error-msg {
	display: block;
	clear: left;

	&:before {
		margin-right: .25em;
		font-family: 'FontAwesome';
	}
}

.success-msg {
	color: $color-success;

	&:before {
		content: '\f058';
	}
}

.warning-msg {
	color: $color-warning;

	&:before {
		content: '\f05a';
	}
}

.error-msg {
	color: $color-error;

	&:before {
		content: '\f071';
	}
}

// Field groupings.
//
// Compatibility untested.
//
// No styleguide reference.
.form-field {
	@include rem(margin-bottom, $col-gutter / 2);

	label {
		display: block;
	}

	textarea {
		display: block;
	}

	.error-msg {
		@include rem(margin-top, $col-gutter / 3);
	}
}

.inline-field {
	$label-width: 12em;
	$field-width: 20em;

	@include row();
	@include rem(margin-bottom, $col-gutter / 2);

	label {
		display: block;

		@media (min-width: $canvas-medium) {
			float: left;
			margin-right: 1em;
			width: $label-width;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: $form-field-height;
		}
	}

	input,
	select {
		width: $field-width;
	}

	.error-msg {
		@include rem(margin-top, $col-gutter / 3);

		@media (min-width: $canvas-medium) {
			margin-left: $label-width + 1em;
		}
	}
}

.option-field {
	label {
		display: inline;
		float: none;
		margin: 0;
		width: auto;
	}
}

// Buttons
//
// Compatibility untested.
//
// No styleguide reference.
button,
.button {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 1;
	padding: 0 1em;
	height: 2.75em;
	line-height: 2.75em;
	border: 1px solid $color-primary;
	text-decoration: none;
	color: $color-primary;
	background: none;

	&.disabled,
	&[disabled] {
		border-color: darken($color-bg, 20%);
		cursor: not-allowed;
		color: darken($color-bg, 30%);
		background: darken($color-bg, 5%);

		&:hover {
			color: darken($color-bg, 30%);
		}

		&:before {
			display: none;
		}
	}

	&:hover {
		color: $color-bg;
	}

	&:before {
		@include scale3d(0, 1, 0);
		@include opacity(0);
		@include transition(transform .3s, opacity .3s);
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: darken($color-primary, 10%);
	}

	&:hover:before {
		@include translate3d(0, 0, 0);
		@include opacity(1);
	}

	&:focus {
		outline: 1px solid $color-primary;
	}
}

// Messages
//
// Compatibility untested.
//
// No styleguide reference.
.msg-box {
	&.success-msg,
	&.warning-msg,
	&.error-msg {
		padding: .75em 1em;
		border-width: 1px;
		border-style: solid;
		color: $color-text;
	}

	&.success-msg {
		border-color: $color-success;
		background-color: scale-lightness($color-success, 95%);
	}

	&.warning-msg {
		border-color: $color-warning;
		background-color: scale-lightness($color-warning, 95%);
	}

	&.error-msg {
		border-color: $color-error;
		background-color: scale-lightness($color-error, 95%);
	}
}
