/* ================================
 * Globally Available Classes
 * ================================ */

/* -- Alignment -- */
.left {
	float: left;
	margin-right: $col-gutter;
}
.right {
	float: right;
	margin-left: $col-gutter;
}
