/* ================================
 * Grids and General Layouts
 * ================================ */

/* -- Framework -- */
.page-wrapper {
	margin: 0 auto;
	padding: $page-margin;
	max-width: $page-max-width;
}
