/* ================================
 * Grids and General Layouts
 * ================================ */

/* -- Framework -- */
.content-wrapper {
	margin: 0 auto;
	padding: 0 $page-margin;
	max-width: $page-max-width;
}

/* -- Colors Layout -- */
.color-grids {
	margin-bottom: $col-gutter;

	@media (min-width: $medium-canvas) {
		@include grid(2);
	}
}
.theme-details {
	margin-bottom: $col-gutter;

	@media (min-width: $medium-canvas) {
		@include grid(2);
	}
}
