// Website Header
//
// Compatibility untested.
//
// No styleguide reference.
.site-header {
	@include rem(padding, $col-gutter);
	position: relative;
	margin-top: 10px;
	text-align: center;
	background-color: darken($color-bg, 5%);

	:before {
		@include background(linear-gradient(to right, $color-primary 33.333%, $color-secondary 33.333%, $color-secondary 66.667%, $color-tertiary 66.667%));
		content: '';
		position: absolute;
		top: -10px;
		left: 0;
		display: block;
		width: 100%;
		height: 10px;
		border-bottom: 1px solid $color-bg;
	}

	h2 {
		border-bottom-width: 0;
	}

	.basic-form .form-field {
		white-space: nowrap;
	}

	.basic-form .form-field label {
		@include hide-text(right);
		width: 0;
		font-size: 0;
	}

	.basic-form .form-field input[type=search] {
		width: 150px;
	}

	// Responsive updates
	@media (min-width: $canvas-small) {
		// Layout
		@include row();
		text-align: left;

		h2 {
			@include column(2);
			margin-bottom: 0;

			img {
				display: block;
			}
		}

		.basic-form {
			@include column(10);
		}

		// Search box
		.basic-form .form-field {
			text-align: right;

			[type=search] {
				width: 225px;
			}
		}
	}
}
