// Icon Button components.
//
// Compatibility untested.
//
// No styleguide reference.
icon-button {
	a {
		@include inline-block;
		@include transition(background-color .25s ease-out);
		padding: $col-gutter / 2 $col-gutter;
		color: $color-bg;
		background-color: $color-primary;
	}

	&:not([icon='']) {
		padding-left: 0;

		a:before {
			position: relative;
			left: 0;
			margin-right: .5em;
		}
	}

	a:hover {
		text-decoration: none;
		color: $color-bg;
		background-color: darken($color-primary, 10%);
	}

	a:focus {
		text-decoration: none;
		outline: 1px solid darken($color-primary, 10%);
	}

	&[caution] > a.icon-button {
		background-color: $color-warning;

		&:hover {
			background-color: darken($color-warning, 10%);
		}
	}
}

[joined] > .button-row-buttons > icon-button:not(:last-child) a {
	border-right-width: 0;
}
