// Icon Button components.
//
// Compatibility untested.
//
// No styleguide reference.
icon-button {
	a {
		@include inline-block;
		@include transition(background-color .25s ease-out);
		padding: $col-gutter / 2 $col-gutter;
		border: 1px solid $color-primary;
		color: $color-primary;
		background-color: $color-bg;
	}

	&:not([icon='']) {
		padding-left: 0;

		a:before {
			position: relative;
			left: 0;
			margin-right: .5em;
		}
	}

	a:hover {
		text-decoration: none;
		color: $color-bg;
		background-color: $color-primary;
	}

	a:focus {
		text-decoration: none;
		outline: 1px solid $color-primary;
	}
}
