// Website Navigation
//
// Compatibility untested.
//
// No styleguide reference.
.site-nav {
	@include rem(padding, 1em $col-gutter);
	background-color: darken($color-bg, 10%);

	h2 {
		@include hide-text(right);
		margin-bottom: 0;
		border-bottom-width: 0;
		font-size: 0;
	}

	ul {
		@include horizontal-list(1em);
	}

	a {
		text-decoration: none;
		color: $color-text;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}
