// Paper Block components.
//
// Compatibility untested.
//
// No styleguide reference.
paper-block {
	@include remove-last-child-margin;
	margin-bottom: $col-gutter;

	.paper-block.paper-block-content {
		padding: $col-gutter;
	}

	&.status-good .paper-block-content {
		background-color: $color-success;
	}

	&.status-important .paper-block-content {
		background-color: $color-bg-dark;
	}

	button-row {
		padding-top: $col-gutter;
		border-top: 1px solid $color-text;
	}
}
