// CSS Resets
//
// Compatibility untested.
//
// No styleguide reference.
body {
	margin: 0;
	color: $color-text;
	background-color: $color-bg;
}

a {
	color: $color-primary;
}

// No top margins on most block elements makes for easier
// vertical alignment with other elements
h1 {
	@include rem(margin-bottom, $col-gutter / 4);
	margin-top: 0;
}

h2,
h3,
h4,
h5,
h6 {
	@include rem(margin-bottom, $col-gutter / 2.5);
	margin-top: 0;
}

p,
ul,
ol,
dl,
table {
	@include rem(margin-bottom, $col-gutter / 1.5);
	margin-top: 0;
}

// Monospace font reset
pre,
code,
kbd,
samp,
tt {
	font-family: monospace, monospace;
	font-size: .9em;
}

// Image resets
img {
	max-width: 100%;
	border-width: 0;
}
