// CSS Resets
//
// Compatibility untested.
//
// No styleguide reference.
html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $base-font-family;
	color: $color-text;
	background-color: $color-bg;
}

a {
	color: $color-primary;
}
