// Sortable Table components.
//
// Compatibility untested.
//
// No styleguide reference.
table[is='sortable-table'] {
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;

	thead {
		text-transform: uppercase;
		background-color: $color-bg-dark;

		.fa-sort {
			color: darken($color-bg-dark, 10%);
		}
	}

	th,
	td {
		padding: $text-height / 2 $text-height;
		vertical-align: top;
		text-align: left;
	}

	tbody tr:not(:first-child) td {
		padding-top: 0;
	}

	tbody tr:last-child td {
		padding-bottom: 0;
	}

	th:not(:first-child),
	td:not(:first-child) {
		border-left: 1px solid darken($color-bg-dark, 10%);
	}

	.numeric,
	.datetime {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: right;
	}

	.edit,
	.remove {
		text-align: center;
	}
}
