// Table Styles
//
// Compatibility untested.
//
// No styleguide reference.
.basic-table {
	border-collapse: collapse;

	thead tr {
		border-bottom: 1px solid lighten($color-text, 65%);
	}

	thead th {
		text-align: left;
	}

	th,
	td {
		@include rem(padding, $col-gutter / 4 $col-gutter / 2);
	}

	th:first-child,
	td:first-child {
		@include rem(padding, $col-gutter / 4 $col-gutter / 2 $col-gutter / 4 0);
	}

	th:last-child,
	td:last-child {
		@include rem(padding, $col-gutter / 4 0 $col-gutter / 4 $col-gutter / 2);
	}

	td {
		border-right: 1px solid lighten($color-text, 65%);

		&:last-child {
			border-right-width: 0;
		}
	}
}
