// General Typography Settings
//
// Compatibility untested.
//
// No styleguide reference.
body {
	tab-size: 4;
	font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

h1 {
	font-size: 1.5rem;
	line-height: $base-line-height *.75;
	color: $color-primary;
}

h2 {
	font-weight: $header-alt-font-weight;
	font-size: 1rem;
	font-family: $header-alt-font-family;
}

h3 {
	font-weight: $bold;
	font-size: 1rem;
	font-family: $header-alt-font-weight;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: .9rem;
}

h6 {
	font-size: .8rem;
}
