// General Typography Settings
//
// Compatibility untested.
//
// No styleguide reference.
@font-face {
	font-family: 'FontAwesome';
	src: font-url('fontawesome-webfont.eot?v=4.4.0');
	src: font-url('fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), font-url('fontawesome-webfont.woff2?v=4.4.0') format('woff2'), font-url('fontawesome-webfont.woff?v=4.4.0') format('woff'), font-url('fontawesome-webfont.ttf?v=4.4.0') format('truetype'), font-url('fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	tab-size: 4;
	font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

h1 {
	font-size: 1.5rem;
	line-height: $base-line-height * .75;
	color: $color-primary;
}

h2 {
	font-weight: $header-alt-font-weight;
	font-size: 1rem;
	font-family: $header-alt-font-family;
}

h3 {
	font-weight: $header-alt-font-weight;
	font-size: .9rem;
	font-family: $header-alt-font-family;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: .9rem;
}

h6 {
	font-size: .8rem;
}
