/* ================================
 * Variables for Pattern Library
 * ================================ */
/* -- Dimensions -- */
$ui-max-width: 960px;
$ui-margin: 20px;
$ui-col-count: 12;
$ui-col-gutter: 1.4rem;

/* -- Break points -- */
$ui-large-canvas: 960px;
$ui-medium-canvas: 800px;
$ui-small-canvas: 640px;
$ui-tiny-canvas: 480px;

/* -- Colors -- */
$ui-color-accent: #ccc;
$ui-color-accent-light: #eee;
