// Variables for Pattern Library

// Dimensions
$ui-max-width: 960px;
$ui-margin: 20px;
$ui-col-count: 12;
$ui-col-gutter: 1.4rem;

// Break points
$ui-large-canvas: 960px;
$ui-medium-canvas: 800px;
$ui-small-canvas: 640px;
$ui-tiny-canvas: 480px;

// Colors
$ui-color-accent: #ccc;
$ui-color-accent-light: #eee;

$color-primary: #3f9eff !default;
$color-secondary: #ff2c1d !default;
$color-tertiary: #b8cc18 !default;

$color-text: #222 !default;
$color-bg: #fff !default;

// Fonts
$regular: 400 !default;
$bold: 700 !default;

$base-font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif !default;
$base-font-weight: $regular !default;
$base-font-size: 14px !default;
$base-line-height: 1.8 !default;

$header-font-family: 'Century Gothic', sans-serif !default;

$fixed-font-family: monospace !default;
$fixed-font-size: 85% !default;
$fixed-line-height: $base-line-height !default;
