// Footer for pattern library
//
// Compatibility untested.
//
// No styleguide reference.

.xpl-footer {
	@include box-sizing(border-box);
	padding: 1em 0;
	height: 60px;
	background: $ui-color-accent-light;

	h1 {
		@include hide-text;
		margin: 0;
		height: 0;
	}

	p {
		@include vertical-align();
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
