/* ================================
 * Footer for Pattern Library
 * ================================ */

.xpl-footer {
	padding: 1em 0;
	background: $ui-color-accent-light;

	h1 {
		@include hide-text;
		margin: 0;
		height: 0;
	}
	p {
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
