/* ================================
 * Pattern Library Classes
 * ================================ */

/* -- Alignment -- */
.left {
	@include rem(margin-right, $ui-col-gutter);
	float: left;
}
.right {
	@include rem(margin-left, $ui-col-gutter);
	float: right;
}

/* -- Sectioned Content -- */
.content-group {
	@include rem(margin-bottom, $ui-col-gutter);

	header {
		border-bottom: 1px solid $ui-color-accent;

		h1 {
			@include inline-block;
			margin-right: .25em;
			margin-bottom: -1px;
			padding: .25em .75em 0;
			border: 1px solid $ui-color-accent;
			border-bottom-width: 0;
			font-size: 1.4em;
			color: $color-text;
			background: $color-bg;
		}
		.subheading {
			@include inline-block;
			position: relative;
			top: .25em;
		}
	}
	> :not(header) {
		@include rem(margin, $ui-col-gutter);
	}
}

/* -- Color Sections -- */
.color-chip {
	@include box-sizing(border-box);
	@include inline-block;
	width: 70px;
	height: 70px;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-color: $ui-color-accent;

	&:first-of-type {
		border-left-width: 1px;
	}
}
.color-grid {
	@include row;
	@include rem(margin-bottom, $ui-col-gutter);

	.color-chip {
		float: left;
	}
}
.color-details {
	@include row;
	@include rem(margin-bottom, $ui-col-gutter);

	.color-chip {
		@include column(1, 3);
	}
	.color-detail {
		@include column(2, 3)
	}
}

/* -- Code Blocks -- */
.subheader {
	margin-left: .5em;
	font-size: .6em;
	font-family: $base-font-family;
}
.show-code {
	text-decoration: none;

	&:before {
		content: '\f06e';
		margin-right: .25em;
		font-family: FontAwesome;
	}
}
.hide-code {
	@extend .show-code;

	&:before {
		content: '\f070';
	}
}
.prettyprint {
	padding: 1em;
	font-size: 1em;
	color: $color-bg;
	background: $color-text;
}

/* -- Component Demos -- */
.component-demo {
	@include rem(margin, $ui-col-gutter 0);
	@include rem(padding, $ui-col-gutter);
	border: 1px solid $ui-color-accent;
}
