// Pattern Library Grids

// Framework
html,
body {
	height: 100%;
}
.xpl-page-wrapper {
	@include box-sizing(border-box);
	height: 100%;
}
.xpl-page-content {
	@include box-sizing(border-box);
	min-height: calc(100% - 3.4rem);
}
.xpl-content-wrapper {
	@include box-sizing(border-box);
	margin: 0 auto;
	padding: 0 $ui-col-gutter;
	max-width: $ui-max-width;
	height: 100%;
}
.xpl-main .xpl-content-wrapper {
	margin: $ui-margin auto;
}

// Iframes
.xpl-page-loader {
	display: block;
	width: 100%;
	height: 480px;
	height: calc(100vh - 8.8rem);
	border: none;
}

// Colors Layout
.xpl-color-grids {
	margin-bottom: $ui-col-gutter;

	@media (min-width: $ui-medium-canvas) {
		@include grid(2);
	}
}
.xpl-theme-details {
	margin-bottom: $ui-col-gutter;

	@media (min-width: $ui-medium-canvas) {
		@include grid(2);
	}
}

// Forms Layout
.xpl-selection-ui {
	@media (min-width: $ui-medium-canvas) {
		@include grid(2);
	}
}

// Components Layout
.xpl-component-wrapper {
	@include rem(margin-bottom, $col-gutter);
}

// IE 8
\:main {
	display: block
}
