// Navigation for pattern library

// Mixins
@mixin set-color-theme($color) {
	background: $color;

	li ul,
	li li,
	.active a {
		color: $color;
	}

	li .active a {
		color: $color-text;
	}
}

// Tab and Sublink Styles
.xpl-page-wrapper {
	// Add space to top for fixed-position navigation
	padding-top: 78px;
}

.xpl-nav {
	@include rem(margin-bottom, $ui-col-gutter + 2);
	position: fixed;
	z-index: 10;
	top: 0;
	padding-top: 8px;
	width: 100%;
	white-space: nowrap;

	&:after {
		content: '';
		position: absolute;
		top: 37px;
		z-index: -1;
		width: 100%;
		height: 40px;
		border-bottom: 1px solid $ui-color-accent;
		background-color: $color-bg;
	}

	h1 {
		@include hide-text;
		margin: 0;
		height: 0;
	}

	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		@include inline-block;
		color: $color-bg;

		&:before {
			content: '| ';
			font-size: .8em;
		}

		&:first-child:before {
			display: none;
		}

		&.active:before,
		&.active + li:before {
			visibility: hidden;
		}

		&.active li:before {
			visibility: visible;
		}

		ul {
			display: none;
			position: absolute;
			top: 29px;
			left: 0;
			white-space: nowrap;
			font-size: .9em;
		}

		li {
			padding: 5px 0;
		}
	}

	.active ul {
		display: block;
	}

	a {
		@include inline-block;
		padding: 0 1em;
		border-radius: .25em .25em 0 0;
		text-decoration: none;
		line-height: 30px;
		color: $color-bg;

		&:hover,
		&:focus {
			background: rgba($color-bg, .25);
		}
	}

	.active a {
		background: $color-bg;
	}

	.active li a {
		margin: 0 .5em;
		padding: 0;
		height: auto;
		background: none;

		&:hover,
		&:focus {
			text-decoration: underline;
			background: none;
		}
	}

	.active li:first-child a {
		margin-left: 0;
		padding-left: 0;
	}

	.active .active a {
		font-weight: bold;
		cursor: text;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	// Icons
	.xpl-nav-style,
	.xpl-nav-components,
	.xpl-nav-pages {
		> a:before {
			margin-right: .25em;
			vertical-align: middle;
			font-family: 'FontAwesome';
			font-size: 14px;
		}
	}

	.xpl-nav-style > a:before {
		content: '\f040';
	}

	.xpl-nav-components > a:before {
		content: '\f00a';
	}

	.xpl-nav-pages > a:before {
		content: '\f15b';
	}

	// Tab Themes
	&.style-active {
		@include set-color-theme($color-primary);
	}

	&.components-active {
		@include set-color-theme($color-secondary);
	}

	&.pages-active {
		@include set-color-theme($color-tertiary);
	}

	// Tools menu
	@media (min-width: $ui-small-canvas) {
		.xpl-content-wrapper {
			@include row();
		}

		.xpl-main-menu {
			@include column(3, 4);
		}

		.xpl-tools-menu {
			@include column(1, 4);
			text-align: right;

			a {
				background: rgba($color-bg, .25);
			}

			a:hover {
				background: rgba($color-bg, .35);
			}
		}

		// Icons
		.xpl-tools-new-window:before {
			content: '\f08e';
			margin-right: .25em;
			font-family: 'FontAwesome';
		}
	}
}
