<h1>Color</h1>
<p>Color branding and consistency are very important to design. These colors were found in <strong>app/stylesheets/partials/_base.scss</strong>.</p>
<p>Update these colors or add new color variables. At the minimum, you will need <code>$color-primary</code>, <code>$color-secondary</code>, <code>$color-tertiary</code>, <code>$color-text</code>, and <code>$color-bg</code> variables. Any new variable that begins with <code>$color</code> will be added to this page automatically.</p>

<h2>Theme</h2>

<div data-color-details></div>
