<h1>Color</h1>
<p>Color branding and consistency are very important to design. These colors were found in <strong>app/stylesheets/partials/_base.scss</strong>.</p>

<h2>Theme</h2>

<section class="color-grids">
	<div class="color-grid">
		<h3>Base Colors</h3>

		<span class="color-chip" style="background-color: #3f9eff"></span>
		<span class="color-chip" style="background-color: #0480ff"></span>
		<span class="color-chip" style="background-color: #ff2c1d"></span>
		<span class="color-chip" style="background-color: #b8cc18"></span>
		<span class="color-chip" style="background-color: #a0b20c"></span>
	</div>

	<div class="color-grid">
		<h3>Text and Background Colors</h3>

		<span class="color-chip" style="background-color: #000000"></span>
		<span class="color-chip" style="background-color: #cccccc"></span>
		<span class="color-chip" style="background-color: #eeeeee"></span>
		<span class="color-chip" style="background-color: #ffffff; border: 1px solid #cccccc"></span>
	</div>
</section>

<section class="theme-details">
	<div class="color-details content-group">
		<header><h1>Dodger Blue</h1></header>

		<div>
			<span class="color-chip" style="background-color: #3f9eff"></span>
			<div class="color-detail">
				<strong>Dodger Blue</strong><br />
				<span class="hex-code">#3f9eff</span><br />
				<span class="sass-variable">$color-primary</span>
			</div>
		</div>
	</div>

	<div class="color-details content-group">
		<header><h1>Azure Radiance</h1></header>

		<div>
			<span class="color-chip" style="background-color: #0480ff"></span>
			<div class="color-detail">
				<strong>Azure Radiance</strong><br />
				<span class="hex-code">#0480ff</span><br />
				<span class="sass-variable">$color-primary-dark</span>
			</div>
		</div>
	</div>

	<div class="color-details content-group">
		<header><h1>Red Orange</h1></header>

		<div>
			<span class="color-chip" style="background-color: #ff2c1d"></span>
			<div class="color-detail">
				<strong>Red Orange</strong><br />
				<span class="hex-code">#ff2c1d</span><br />
				<span class="sass-variable">$color-secondary</span>
			</div>
		</div>
	</div>

	<div class="color-details content-group">
		<header><h1>La Rioja</h1></header>

		<div>
			<span class="color-chip" style="background-color: #b8cc18"></span>
			<div class="color-detail">
				<strong>La Rioja</strong><br />
				<span class="hex-code">#b8cc18</span><br />
				<span class="sass-variable">$color-tertiary</span>
			</div>
		</div>
	</div>

	<div class="color-details content-group">
		<header><h1>Pistachio</h1></header>

		<div>
			<span class="color-chip" style="background-color: #a0b20c"></span>
			<div class="color-detail">
				<strong>Pistachio</strong><br />
				<span class="hex-code">#a0b20c</span><br />
				<span class="sass-variable">$color-tertiary-dark</span>
			</div>
		</div>
	</div>

	<div class="color-details content-group">
		<header><h1>Black</h1></header>

		<div>
			<span class="color-chip" style="background-color: #000000"></span>
			<div class="color-detail">
				<strong>Black</strong><br />
				<span class="hex-code">#000000</span><br />
				<span class="sass-variable">$color-text</span>
			</div>
		</div>
	</div>

	<div class="color-details content-group">
		<header><h1>Silver</h1></header>

		<div>
			<span class="color-chip" style="background-color: #cccccc"></span>
			<div class="color-detail">
				<strong>Silver</strong><br />
				<span class="hex-code">#cccccc</span><br />
				<span class="sass-variable">$color-bg-darkest</span>
			</div>
		</div>
	</div>

	<div class="color-details content-group">
		<header><h1>Gallery</h1></header>

		<div>
			<span class="color-chip" style="background-color: #eeeeee"></span>
			<div class="color-detail">
				<strong>Gallery</strong><br />
				<span class="hex-code">#eeeeee</span><br />
				<span class="sass-variable">$color-bg-dark</span>
			</div>
		</div>
	</div>

	<div class="color-details content-group">
		<header><h1>White</h1></header>

		<div>
			<span class="color-chip" style="background-color: #ffffff; border: 1px solid #cccccc"></span>
			<div class="color-detail">
				<strong>White</strong><br />
				<span class="hex-code">#ffffff</span><br />
				<span class="sass-variable">$color-bg</span>
			</div>
		</div>
	</div>
</section>
