<h1>Tables</h1>
<p>Tables are used to present information in a row/column structure.</p>

<h2>Generic Table</h2>

<table class="basic-table">
	<thead>
		<tr>
			<th colspan="2">IMDB Top Ten Movies</th>
			<th>Rating</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>The Shawshank Redemption</td>
			<td>9.2</td>
			<td>1994</td>
		</tr>
		<tr>
			<td>2</td>
			<td>The Godfather</td>
			<td>9.2</td>
			<td>1972</td>
		</tr>
		<tr>
			<td>3</td>
			<td>The Godfather: Part II</td>
			<td>9.0</td>
			<td>1974</td>
		</tr>
		<tr>
			<td>4</td>
			<td>The Dark Knight</td>
			<td>8.9</td>
			<td>2008</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Pulp Fiction</td>
			<td>8.9</td>
			<td>1994</td>
		</tr>
		<tr>
			<td>6</td>
			<td>The Good, the Bad and the Ugly</td>
			<td>8.9</td>
			<td>1966</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Schindler’s List</td>
			<td>8.9</td>
			<td>1993</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Angry Men</td>
			<td>8.9</td>
			<td>1957</td>
		</tr>
		<tr>
			<td>9</td>
			<td>The Lord of the Rings — The Return of the King</td>
			<td>8.9</td>
			<td>2003</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Fight Club</td>
			<td>8.8</td>
			<td>1999</td>
		</tr>
	</tbody>
</table>
