<h1>Page Sections</h1>
<p>Important parts of common page layout, such as the header, footer, and sidebars are included here. These components are found in the <strong>app/partials</strong> directory.</p>
<p>To add components to this area, edit the files in the <strong>app/partials/pattern-lib/components</strong> directory.</p>

<div class="component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
	<h2>Site Header <a href class="subheader" data-ng-class="{'show-code': !codeIsVisible, 'hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

	<pre data-load-html data-load-uri="/partials/header.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

	<div class="component-demo" data-load-html data-load-uri="/partials/header.html"></div>

	<p>This is a sample description for a header. Modify it to match your actual header.</p>
	<p>The header consists of a logo on the left and a search field on the right. The color theme is represented at the top using a thin band of color boxes. On smaller viewports, the search field will move below the logo.</p>
</div>

<div class="component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
	<h2>Site Footer <a href class="subheader" data-ng-class="{'show-code': !codeIsVisible, 'hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

	<pre data-load-html data-load-uri="/partials/footer.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

	<div class="component-demo" data-load-html data-load-uri="/partials/footer.html"></div>

	<p>The footer appears at the bottom of every page. This one is fairly basic and stark. Refresh this page to see modifications made by JavaScript.</p>
</div>

<div class="component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
	<h2>Site Navigation <a href class="subheader" data-ng-class="{'show-code': !codeIsVisible, 'hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

	<pre data-load-html data-load-uri="/partials/nav.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

	<div class="component-demo" data-load-html data-load-uri="/partials/nav.html"></div>

	<p>The main navigation is a simple horizontal list.</p>
</div>
