// Common Functions and Mixins
//
// No styleguide reference.

// Vertically center content within its parent
//
// No styleguide reference.
//
// Compatible with Chrome, Firefox, Safari, IE 9+
@mixin vertical-align {
	@include translateY(-50%);
	position: relative;
	top: 50%;
}

// Hide content visually but not from screen readers
//
// No styleguide reference.
//
// Compatible with Chrome, Firefox, Safari, Opera, IE 7+
@mixin accessible-hide {
	position: absolute;
	top: auto;
	left: -10000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

// Remove possible bottom margin from the last child and its descendents.
//
// No style guide reference.
//
// Compatibility untested.
@mixin remove-last-child-margin {
	> :last-child {
		margin-bottom: 0;

		&::after {
			content: '';
			display: block;
			margin: -$col-gutter 0 $col-gutter;

		}
	}
}
