<div class="xpl-content-wrapper">
	<h1>Typography</h1>
	<p>The art or process of arranging type to make it appealing. General font rules can be found in <strong>stylesheets/partials/_resets.scss</strong> and <strong>stylesheets/partials/_typography.scss</strong>. Font rules that apply to specific sections or components may be found in other Sass partials.</p>

	<h2>Headings</h2>

	<section class="xpl-content-group">
		<header>
			<h1>H1</h1>
			<div class="xpl-subheading" data-font-details data-html-node="h1"></div>
		</header>

		<h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
	</section>

	<section class="xpl-content-group">
		<header>
			<h1>H2</h1>
			<div class="xpl-subheading" data-font-details data-html-node="h2"></div>
		</header>

		<h2>Grumpy wizards make toxic brew for the evil Queen and Jack.</h2>
	</section>

	<section class="xpl-content-group">
		<header>
			<h1>H3</h1>
			<div class="xpl-subheading" data-font-details data-html-node="h3"></div>
		</header>

		<h3>Grumpy wizards make toxic brew for the evil Queen and Jack.</h3>
	</section>

	<section class="xpl-content-group">
		<header>
			<h1>H4</h1>
			<div class="xpl-subheading" data-font-details data-html-node="h4"></div>
		</header>

		<h4>Grumpy wizards make toxic brew for the evil Queen and Jack.</h4>
	</section>

	<section class="xpl-content-group">
		<header>
			<h1>H5</h1>
			<div class="xpl-subheading" data-font-details data-html-node="h5"></div>
		</header>

		<h5>Grumpy wizards make toxic brew for the evil Queen and Jack.</h5>
	</section>

	<section class="xpl-content-group">
		<header>
			<h1>H6</h1>
			<div class="xpl-subheading" data-font-details data-html-node="h6"></div>
		</header>

		<h6>Grumpy wizards make toxic brew for the evil Queen and Jack.</h6>
	</section>

	<h2>Paragraphs</h2>

	<section class="xpl-content-group">
		<header>
			<h1>P</h1>
			<div class="xpl-subheading" data-font-details data-html-node="p"></div>
		</header>

		<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit. Inventore nihil <a href="#">dolore labore omnis</a> ut reprehenderit amet, impedit quod, aperiam, eveniet esse! Facilis dolor recusandae quae.</p>
		<p>Doloremque tenetur ad molestiae asperiores aut iusto atque velit autem quos dolore iure pariatur, <em>temporibus deleniti placeat</em> numquam fuga consectetur eligendi dignissimos, sapiente ipsum molestias.</p>
	</section>

	<section class="xpl-content-group">
		<header>
			<h1>BLOCKQUOTE</h1>
			<div class="xpl-subheading" data-font-details data-html-node="blockquote"></div>
		</header>

		<blockquote>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita tempore, fugiat et possimus libero a, ipsa quod unde voluptatum saepe, illo amet quidem quis temporibus.</p>
			<p><cite>— Unknown author</cite></p>
		</blockquote>
	</section>

	<h2>Lists</h2>

	<section class="xpl-content-group">
		<header>
			<h1>UL</h1>
			<div class="xpl-subheading" data-font-details data-html-node="ul"></div>
		</header>

		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, quia.</li>
			<li>Libero molestiae commodi impedit, vel earum a voluptatibus repellat, dolores!</li>
			<li>Esse, exercitationem dignissimos accusamus sit doloremque distinctio ducimus iure velit!</li>
		</ul>
	</section>

	<section class="xpl-content-group">
		<header>
			<h1>OL</h1>
			<div class="xpl-subheading" data-font-details data-html-node="ol"></div>
		</header>

		<ol>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, quia.</li>
			<li>Libero molestiae commodi impedit, vel earum a voluptatibus repellat, dolores!</li>
			<li>Esse, exercitationem dignissimos accusamus sit doloremque distinctio ducimus iure velit!</li>
		</ol>
	</section>

	<section class="xpl-content-group">
		<header>
			<h1>DL</h1>
			<div class="xpl-subheading" data-font-details data-html-node="dl"></div>
		</header>

		<dl>
			<dt>Lorem ipsum dolor.</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, magni!</dd>
			<dt>In, voluptate at.</dt>
			<dd>Necessitatibus porro doloribus fugit quo numquam deleniti, eos odit nulla!</dd>
			<dt>Debitis eius, laborum.</dt>
			<dd>Voluptates quaerat, excepturi nam ducimus incidunt maxime, unde et dolore.</dd>
		</dl>
	</section>
</div>
