<div class="xpl-content-wrapper">
	<h1>Blocks</h1>
	<p>Block components help with grouping related content together.</p>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Tracker Group Block <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-tracker-group-block.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-tracker-group-block.html"></div>

		<p>A group block is a very basic block that allows for a heading to be placed above the grouped content.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>heading</td>
					<td>A heading to appear above the content.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Tracker Menu Block <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-tracker-menu-block.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-tracker-menu-block.html"></div>

		<p>Similar to Group Blocks, Menu Blocks act as a wrapper for content and provide a heading above. However, a Menu Block is intended as a form of navigation and may only contain <code>tracker-menu-item</code> children.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>heading</td>
					<td>A heading to appear above the menu.</td>
				</tr>
				<tr>
					<td>font-color</td>
					<td>A CSS color value to use for the heading forecolor.</td>
				</tr>
				<tr>
					<td>layout</td>
					<td>A value of <strong>vertical</strong> (default) will create a vertical menu. A value of <strong>horizontal</strong> will create a horizontal menu.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="xpl-component-wrapper">
		<h2>Tracker Menu Item</h2>

		<p>A Menu Item is an individual hyperlink within a Menu Block (see Tracker Menu Block above for an example). Menu Items expose the following attributes:</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>uri</td>
					<td>The URI for the hyperlink.</td>
				</tr>
				<tr>
					<td>font-color</td>
					<td>A CSS color value to use for the heading forecolor.</td>
				</tr>
				<tr>
					<td>icon</td>
					<td>An icon name from the Font Awesome font.</td>
				</tr>
				<tr>
					<td>active</td>
					<td>A boolean attribute to indicate a currently active menu item</td>
				</tr>
				<tr>
					<td>is-drawer-toggle</td>
					<td>A boolean attribute that, when present, causes the Menu Item to act as a toggle for opening and closing the <a href="#/components/layout">Drawer</a> component.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Tracker Paper Block <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-tracker-paper-block.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-tracker-paper-block.html"></div>

		<p>A Paper Block is similar to a Group Block in that it has a heading
			and allows any type of content. The content itself, however, is
			displayed within a box with a drop shadow, creating a three-dimensional
			effect.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>heading</td>
					<td>A heading to appear above the content.</td>
				</tr>
				<tr>
					<td>important</td>
					<td>A boolean attribute to indicate that the block should be prominently featured.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
