<div class="xpl-content-wrapper">
	<h1>Blocks</h1>
	<p>Block components help with grouping related content together.</p>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Group Block <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-group-block.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-group-block.html"></div>

		<p>A group block is a very basic block that allows for a heading to be placed above the grouped content.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>heading</td>
					<td>A heading to appear above the content.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Menu Block <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-menu-block.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-menu-block.html"></div>

		<p>Similar to group blocks, menu blocks act as a wrapper for content and provide a heading above. However, a menu block is intended as a form of navigation and may only contain <code>menu-item</code> children.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>heading</td>
					<td>A heading to appear above the menu.</td>
				</tr>
				<tr>
					<td>layout</td>
					<td>A value of <code>vertical</code> (default) will create a vertical menu. A value of <code>horizontal</code> will create a horizontal menu.</td>
				</tr>
			</tbody>
		</table>

		<h3>Menu Item</h3>

		<p>A menu item is an individual hyperlink within a menu block. Menu items expose three attributes:</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>uri</td>
					<td>The URI for the hyperlink.</td>
				</tr>
				<tr>
					<td>icon</td>
					<td>An icon name from the Font Awesome font.</td>
				</tr>
				<tr>
					<td>active</td>
					<td>A boolean attribute to indicate a currently active menu item</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Notice Block <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-notice-block.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-notice-block.html"></div>

		<p>A notice block can be added to the top of a group pane and is used for displaying notifications or for displaying a form to allow users to make changes pertaining to the group pane.</p>

		<p>It may contain any HTML content.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>heading</td>
					<td>A heading to appear above the content.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Paper Block <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-paper-block.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-paper-block.html"></div>

		<p>A paper block is similar to a group block in that it has a heading
			and allows any type of content. The content itself, however, is
			displayed within a box with a shadow, creating a three-dimensional
			effect.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>heading</td>
					<td>A heading to appear above the content.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
