<div class="xpl-content-wrapper">
	<h1>Buttons</h1>
	<p>Buttons are elements that are tapped or clicked to preform an action.</p>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Tracker Icon Button <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-tracker-icon-button.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-tracker-icon-button.html"></div>

		<p>An Icon Button allows an icon to be placed before the button text.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>uri</td>
					<td>The URI for the hyperlink.</td>
				</tr>
				<tr>
					<td>icon</td>
					<td>An icon name from the Font Awesome font.</td>
				</tr>
				<tr>
					<td>caution</td>
					<td>A boolean attribute that changes the button background to orange.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Tracker Button Row <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-tracker-button-row.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-tracker-button-row.html"></div>

		<p>When more than one button is needed, or if a button needs to be paired with a message, a button row helps to group them together.</p>
		<p>A button row should contain at least one type of Button component. If a message should be displayed, it should be placed within a <code>&lt;p&gt;</code> tag.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>joined</td>
					<td>A boolean attribute that removes extra space between buttons.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
