<div class="xpl-content-wrapper">
	<h1>Forms</h1>
	<p>Components that assist with input methods are listed below.</p>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Tracker Form Block <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-tracker-form-block.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-tracker-form-block.html"></div>

		<p>A Form Block contains Form Row and Button Row children. Additional styling is applied to Button Rows when placed inside a Form Block.</p>
	</div>

	<hr>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Tracker Form Row <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-tracker-form-row.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-tracker-form-row.html"></div>

		<p>A Form Row can display any number of group boxes in a horizontal layout. The form fields within the group boxes can be stretched to fill the full width by using the <strong>stretch</strong> attribute. The <strong>flex</strong> attribute is available for setting the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/flex">flex shorthand values</a> for each group box.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>stretch</td>
					<td>A boolean attribute to stretch the form fields to fill the full row. Note: the <strong>flex</strong> attribute must be set for the <strong>stretch</strong> attribute to take effect.</td>
				</tr>
				<tr>
					<td>flex</td>
					<td>An array of flex values for each group box in the row.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Tracker Search Block <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-tracker-search-block.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-tracker-search-block.html"></div>

		<p>The Search Block makes use of a Group Block to create a simple search box.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>uri</td>
					<td>The URI of the form submission handler.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Tracker Toggle Fields <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-tracker-toggle-fields.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-tracker-toggle-fields.html"></div>

		<p>The Toggle Fields component will display a list of check boxes or radio buttons in an inline format. Toggle Fields extend the native <code>&lt;ul&gt;</code> element.</p>
	</div>
</div>
