<div class="xpl-content-wrapper">
	<h1>Page Sections</h1>
	<p>Important parts of common page layout, such as the header, footer, and sidebars are included here. These components are found in the <strong>app/templates</strong> directory.</p>
	<p>To add components to this area, edit the files in the <strong>app/templates/pattern-lib/components</strong> directory.</p>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Site Header <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/header.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/header.html"></div>

		<p>This is a sample description for a header. Modify it to match your actual header.</p>
		<p>The header consists of a logo on the left and a search field on the right. The color theme is represented at the top using a thin band of color boxes. On smaller viewports, the search field will move below the logo.</p>
	</div>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Site Footer <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/footer.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/footer.html"></div>

		<p>The footer appears at the bottom of every page. This one is fairly basic and stark.</p>
	</div>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Site Navigation <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/nav.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/nav.html"></div>

		<p>The main navigation is a simple horizontal list.</p>
	</div>
</div>
