<div class="xpl-content-wrapper">
	<h1>Tables</h1>
	<p>Data represented in rows and columns should make use of table components.</p>

	<div class="xpl-component-wrapper" data-view-code data-show-text="View HTML" data-hide-text="Hide HTML">
		<h2>Sorted Table <a href class="xpl-subheader" data-ng-class="{'xpl-show-code': !codeIsVisible, 'xpl-hide-code': codeIsVisible}" data-ng-click="toggleCodeVisibility()">{{instructionText}}</a></h2>

		<pre data-load-html data-load-uri="templates/sample-sorted-table.html" data-html-encode="true" data-prettyprint data-ng-show="codeIsVisible"></pre>

		<div class="xpl-component-demo" data-load-html data-load-uri="templates/sample-sorted-table.html"></div>

		<p>A sorted table extends the HTML table element and provides headings that may be used to sort their respective columns.</p>
		<p>Columns are sorted based on the contents of each cell by default. To create custom sort values, add a
			<code>data-sort-value</code> to the
			<code>&lt;td&gt;</code> tag.</p>

		<table class="key-value">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>columns</td>
					<td>An array of table headers.</td>
				</tr>
				<tr>
					<td>no-sort</td>
					<td>An array of column indexes that should not allow sorting.</td>
				</tr>
				<tr>
					<td>widths</td>
					<td>An array of widths for each header.</td>
				</tr>
				<tr>
					<td>aligns</td>
					<td>An array of alignment values (
						<code>left</code>,
						<code>center</code>, or
						<code>right</code>) for each header.
					</td>
				</tr>
				<tr>
					<td>default-sort-col</td>
					<td>The index of the column to be sorted by default.</td>
				</tr>
				<tr>
					<td>default-sort-order</td>
					<td>The direction of the default sort. Can be either
						<code>asc</code> (default) or
						<code>desc</code>.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
