<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="apple-touch-icon" href="apple-touch-icon.png">

<!-- Polymer Components -->
<!-- build:js:dist javascripts/vendor/webcomponents-lite.min.js -->
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<!-- /build -->

<!-- build:template
<link rel="import" href="<%= polymerPath %>">
/build -->

<link rel="import" href="/components/task-tracker-app.html">
<link rel="import" href="/components/group-pane.html">
<link rel="import" href="/components/group-pane-menu.html">
<link rel="import" href="/components/footer-pane.html">
<link rel="import" href="/components/group-block.html">
<link rel="import" href="/components/menu-block.html">
<link rel="import" href="/components/menu-item.html">
<link rel="import" href="/components/paper-block.html">
<link rel="import" href="/components/notice-block.html">
<link rel="import" href="/components/sortable-table.html">
<link rel="import" href="/components/button-row.html">
<link rel="import" href="/components/icon-button.html">
<link rel="import" href="/components/icon-item.html">
<link rel="import" href="/components/form-row.html">

<!-- build:remove:dist -->
<link rel="stylesheet" href="/bower_components/normalize-css/normalize.css"/>
<!-- /build -->

<!--[if lt IE 9]>
<script src="/javascripts/vendor/html5shiv.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
