<tracker-lightbox id="recent-tasks" heading="Recent Tasks">
	<table is="tracker-sortable-table" columns='["Task", "Project"]'
		widths='["55%", "45%"]',
		aligns='["left", "left"]'>
		<tr>
			<td><a href="time-records.html">Daily Scrum meeting</a></td>
			<td><a href="project-detail.html">Office Administration</a></td>
		</tr>
		<tr>
			<td><a href="time-records.html">E-mail management</a></td>
			<td><a href="project-detail.html">Office Administration</a></td>
		</tr>
		<tr>
			<td><a href="time-records.html">Create HTML build-outs</a></td>
			<td><a href="project-detail.html">Acme Website Redesign</a></td>
		</tr>
		<tr>
			<td><a href="time-records.html">Attend weekly client meeting</a></td>
			<td><a href="project-detail.html">Acme Website Redesign</a></td>
		</tr>
		<tr>
			<td><a href="time-records.html">Create Photoshop comps</a></td>
			<td><a href="project-detail.html">Acme Website Redesign</a></td>
		</tr>
		<tr>
			<td><a href="time-records.html">Fix bug #1337: Holes open to h@x0rs</a></td>
			<td><a href="project-detail.html">Hotel CMS Integration</a></td>
		</tr>
		<tr>
			<td><a href="time-records.html">Attend stakeholder meeting</a></td>
			<td><a href="project-detail.html">US Government Photo Database</a></td>
		</tr>
	</table>

	<tracker-button-row>

		<tracker-icon-button uri="add-task.html" icon="edit">Create a Task</tracker-icon-button>
		<tracker-icon-button uri="#" icon="close">Close</tracker-icon-button>
	</tracker-button-row>
</tracker-lightbox>
