<tracker-app>
	<tracker-menu-pane heading="Menu Pane">
		<p>Menu and navigation components are placed here.</p>
	</tracker-menu-pane>

	<tracker-detail-pane heading="Details Pane">
		<p>This is the primary content pane.</p>
	</tracker-detail-pane>

	<tracker-property-pane heading="Properties Pane">
		<p>Metadata and simple properties related to the Details Pane appear here.</p>
	</tracker-property-pane>

	<tracker-footer-pane status="online" version="1.0.0"></tracker-footer-pane>
</tracker-app>
