<tracker-form-block>
	<tracker-form-row stretch flex='["1 1 25%", "2 1 50%"]'>
		<tracker-group-block heading="Name">
			<input type="text" placeholder="First and last name">
		</tracker-group-block>

		<tracker-group-block heading="E-mail">
			<input type="email" placeholder="Enter a valid e-mail address">
		</tracker-group-block>
	</tracker-form-row>

	<tracker-button-row>
		<tracker-icon-button uri="#" icon="check">Save Changes</tracker-icon-button>
		<tracker-icon-button uri="#" icon="backward">Cancel</tracker-icon-button>
		<tracker-icon-button uri="#" icon="trash" caution>Delete Project</tracker-icon-button>
	</tracker-button-row>
</tracker-form-block>
