<table is="tracker-sortable-table" default-sort-col="3"
	default-sort-order="asc"
	columns='["Task", "Time Spent", "Due Date"]'
	widths='["50%", "25%", "25%"]',
	aligns='["left", "right", "right"]'>
	<tr>
		<td><a href="#">Attend weekly client meeting</a></td>
		<td class="numeric"><strong>5</strong> of <strong>30</strong> hours</td>
		<td class="datetime" data-sort-value="20150923"><time datetime="2015-09-23">9/23/2015</time></td>
	</tr>

	<tr>
		<td><a href="#">Create Photoshop comps</a></td>
		<td class="numeric"><strong>12.75</strong> of <strong>25</strong> hours</td>
		<td class="datetime" data-sort-value="20150929"><time datetime="2015-09-29">9/29/2015</time></td>
	</tr>

	<tr>
		<td><a href="#">Create HTML build-outs</a></td>
		<td class="numeric"><strong>3.5</strong> of <strong>8</strong> hours</td>
		<td class="datetime" data-sort-value="20151012"><time datetime="2015-10-12">10/12/2015</time></td>
	</tr>
</table>
