<tracker-detail-pane heading="Drawer Sample" font-color="#fff" bg-color="#6390c7">
	<tracker-group-pane-menu>
		<tracker-menu-block font-color="#fff">
			<tracker-menu-item is-drawer-toggle icon="caret-down">Toggle Drawer</tracker-menu-item>
		</tracker-menu-block>
	</tracker-group-pane-menu>

	<tracker-drawer heading="Drawer Heading">
		<p>Any HTML content may be placed inside a Drawer.</p>
	</tracker-drawer>

	<p>Use the <strong>Toggle Drawer</strong> link above to open and close the drawer.</p>
</tracker-detail-pane>
