<ul is="tracker-toggle-fields">
	<li><input type="checkbox" id="task-day-0" name="task-day-0"><label for="task-day-0">Sunday</label></li>

	<li><input type="checkbox" id="task-day-1" name="task-day-1" checked><label for="task-day-1">Monday</label></li>

	<li><input type="checkbox" id="task-day-2" name="task-day-2"><label for="task-day-2">Tuesday</label></li>

	<li><input type="checkbox" id="task-day-3" name="task-day-3" checked><label for="task-day-3">Wednesday</label></li>

	<li><input type="checkbox" id="task-day-4" name="task-day-4"><label for="task-day-4">Thursday</label></li>

	<li><input type="checkbox" id="task-day-5" name="task-day-5"><label for="task-day-5">Friday</label></li>

	<li><input type="checkbox" id="task-day-6" name="task-day-6"><label for="task-day-6">Saturday</label></li>
</ul>
